@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lora", serif;
}

.hero {
  background-image: url("/assets/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
