@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lora", serif;
  user-select: none;
}

body {
  padding-top: constant(safe-area-inset-top); /* iOS 11.0+ */
  padding-top: env(safe-area-inset-top); /* iOS 11.2+ */
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 1em;
}

/* Markdown for sticky notes */
.markdown h1 {
  font-size: 2em;
  font-weight: bold;
}

.markdown h2 {
  font-size: 2em;
  font-weight: bold;
}

.markdown img {
  border-radius: 20px;
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.google {
  background-image: linear-gradient(
    45deg,
    #4285f4 33%,
    #db4437 33% 66%,
    #f4b400 66%
  );
}

.facebook {
  background-image: linear-gradient(
    45deg,
    #adb9d3 33%,
    #3b5998 33% 66%,
    #edf0f5 66%
  );
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-slick::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-slick::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 100px;
}

.my-masonry-grid {
  display: flex;
  margin-left: 5px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid-attachments {
  display: flex;
  margin-left: 0px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column-attachments {
  padding-left: 5px; /* gutter size */
  padding-top: 5px;
  background-clip: padding-box;
}

.ql-editor {
  font-size: 14px; /* make text larger overall */
  line-height: 1.6; /* improve readability */
  outline: none !important;
  padding: 0 !important;
  padding-top: 2em !important;
}

/* Default button color */
/* .ql-toolbar.ql-snow .ql-formats button,
.ql-toolbar.ql-snow .ql-formats .ql-picker {
  color: white !important;
} */

/* Hover / active state */
.ql-toolbar.ql-snow .ql-formats button:hover,
.ql-toolbar.ql-snow .ql-formats .ql-picker:hover,
.ql-toolbar.ql-snow .ql-formats button.ql-active,
.ql-toolbar.ql-snow .ql-formats .ql-picker.ql-expanded {
  color: #222 !important;
}

.ql-container.ql-snow {
  border: none !important; /* remove border around the editor */
}

/* Toolbar button icons default white */
/* .ql-snow .ql-stroke {
  stroke: white !important;
} */

/* .ql-snow .ql-fill {
  fill: white !important;
} */

/* Active/hovered buttons = blue */
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill {
  stroke: blue !important;
  fill: blue !important;
}

.normal {
  color: #000 !important;
}

.normal .ql-fill {
  fill: #000 !important;
}
.normal .ql-stroke {
  stroke: #000 !important;
}

.normal .ql-toolbar.ql-snow .ql-formats button,
.normal .ql-toolbar.ql-snow .ql-formats .ql-picker {
  color: #000 !important;
}
