@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lora", serif;
}

.google {
  background-image: linear-gradient(
    45deg,
    #4285f4 33%,
    #db4437 33% 66%,
    #f4b400 66%
  );
}

.facebook {
  background-image: linear-gradient(
    45deg,
    #adb9d3 33%,
    #3b5998 33% 66%,
    #edf0f5 66%
  );
}

.github {
  background-image: linear-gradient(
    45deg,
    #21262d 33%,
    #89929b 33% 66%,
    #0d1117 66%
  );
}

.discord {
	background-image: linear-gradient(
    45deg,
    #ffffff 33%,
    #7289da 33% 66%,
    #ffffff 66%
  );
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
